<h1>Burger Time!</h1>

<img class="center" src="assets/img/burger.jpg" alt="Hamburger">
<div class="row">
    <ul class="col-md-4">
        {{#each burgers}} {{#unless devoured}}
        <li>{{this.burger_name}}
            <button class="devoured btn btn-info" data-id="{{id}}" data-devoured="eaten">Devour!</button><button data-id="{{id}}" class="delete btn btn-warning">Delete</button>
        </li>
        {{/unless}} {{/each}}
    </ul>

    <ul class="col-md-4">
        {{#each burgers}} {{#if devoured}}
        <li>{{this.burger_name}}
            <button class="delete btn btn-warning">Delete</button>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>
<h2>Add a Burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="burger_name">
    </div>
    <button class="btn btn-info" type="submit">Add a Burger</button>
</form>